{% extends "base.html" %}
{%block title%} Perfil de Usuário {%endblock%}

{%block conteudo%}
<section class="h-100">
    <div class="container py-5 h-100">

        <div class="card">
            <div class="rounded-top text-black-50 d-flex">

            <h5>Matricula: {{ usuario[1] }}</h5>
            <h5>Nome: {{ usuario[2] }}</h5>
            <h5>Email: {{ usuario[3] }}</h5>
            <h5>Curso: {{ usuario[5] }}</h5>

            <form method="POST">
                <button class="btn btn-outline-dark" type="button" data-mdb-ripple-color="blue">Editar Perfil</button>
                <button class="btn btn-outline-dark" type="button">Deletar Perfil</button>
            </form>
            </div>
        </div>
    </div>
</section>
{%endblock%}